* {
    transition: 0.25s all ease-out;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1a1c16;
    font-family: 'JetBrains Mono';
    font-weight: 800;
    display: grid;
    place-items: center;
}
#header {
    background-color: #44483d;
    color: #cdeda3;
    text-align: center;
    font-size: 3vw;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
    margin-bottom: 20px;
    width: 100vw;
}
#rockheading {
    color: #ffc0cb;
}
#paperheading {
    color: #e9c0ff;
}
#scissorsheading {
    color: #c0e7ff;
}
#compch {
    background-color: #44483d;
    height: 20vw;
    width: 100%;
    border-radius: 1.5vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#notif {
    background-color: #080041;
    color: #ffffffcb;
    padding: 5px;
    width:fit-content;
    outline: 3px solid #ffffffb8;
    border-radius: 1vh;
    font-size: 2vw;
    font-weight: 600;
    font-family: 'Arial';
}
#userch {
    background-color: #44483d;
    height: 20vw;
    width: 100%;
    border-radius: 1.5vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opimg {
    height: 15vw;
    border-radius: 50%;
    margin: 2vw;
    outline: 3px solid white;
    filter: opacity(95%);
    cursor: pointer;
}