body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

div {
    height: 50vw;
    width: 50vw;
    background-color: aliceblue;
    animation: 2s load2 linear infinite;
    display:flex;
    align-items: center;
}

@keyframes load {
    0% {
        background-color: aqua;
        rotate: 0deg;
    }
    50% {
        background-color: aquamarine;
        rotate: 180deg;
    }
    100% {
        background-color: aqua;
        rotate: 360deg;
    }
}

img{
    width:50vw
}


@keyframes load2{
    0%{
        background-color: aqua;
        rotate: 0deg;
        scale:1 1;
    }
    25%{
        background-color: rgb(127, 255, 236);
        rotate: 90deg;
        scale:0.9 0.9;
    }
    50%{
        background-color:rgb(180, 246, 246);
        rotate: 180deg;
        scale:0.8 0.8;
    }
    75%{
        background-color: rgb(127, 255, 236);
        rotate: 270deg;
        scale:0.9 0.9;
    }
    100%{
        background-color: aqua;
        rotate: 360deg;
        scale:1 1;
    }
}




