@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    height: 100%;
    margin: 0;
}
*{
    margin:0px;
    padding: 0px;
}
#backd{
    width:100vw;
    position:absolute;
    z-index: 1;
}
body {
    background-image:url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainbg {
    width: 50vw;
    height: 80vh;
    background-color: rgba(126, 37, 67, 0.6);
    border-radius:3vw;
    display:flex;
    align-items: end;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.501);
}
#main2bg {
    
    width: 50vw;
    height: 70vh;
    background-color: rgba(14, 18, 59, 0.699);
    border-radius:3vw;
    color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

#formname{
    margin:0px;
    font-size: 4vw;
    font-family: 'poppins';
    font-weight: 500;
    width:50vw;
    text-align: center;
    color: rgb(243, 217, 206);
}

#title{
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fields{
    background-color:rgba(19, 22, 55, 0);
    height:65vh;
    width:45vw;
    font-family:'poppins';
    color:azure;
}

p{
    margin-top: 10px;
}

input{
    margin-top: 1px;
    background-color: transparent;
    border:none;
    border: 2px rgb(83, 83, 83) solid;
    border-radius: 5px;
    width:100%;
    height: 2.5vw;
    color:azure;
    font-family: 'poppins';
    font-size: 1.5vw;
    padding-left: 4px;
}
input:focus{
    border: 2px rgb(203, 190, 185) solid;
    border-radius: 5px;
    outline:none;
    transition: all 0.2s ease-in;
}
#waydrop{
    margin-top: 1px;
    background-color: transparent;
    border:none;
    border: 2px rgb(83, 83, 83) solid;
    border-radius: 5px;
    width:50%;
    height: 2.5vw;
    color:grey;
    font-family: 'poppins';
    font-size: 1.5vw;
    padding-left: 4px;
}
#waydrop:focus{
    outline:none;
    color:white;
}

#waydrop option {
    background-color: rgb(100, 69, 112);
    font-family: 'poppins';
    border-radius: 20px;
}
#placehs{
    color:grey;
}

#sbutton{
    display: block;
    margin-top:30px;
    height:2.5vw;
    width: 10em;
    background-color:rgba(203, 190, 185, 0.149) ;
    border-radius:5px;
    border: 2px rgba(203, 190, 185, 0.421) solid;
    color:azure;
    font-family: 'poppins';
    font-size: 1.5vw;
    transition: all 0.1s ease-in;
}
#sbutton:active{
    background-color:rgba(203, 190, 185, 0.378) ;
    border: 2px rgba(203, 190, 185, 0.925) solid;
}