body{
    margin:0;
}
#navbar{
    background-color: rgb(200, 200, 200);
    height: 8vh;
    width: 100vw;
    position:fixed;
    top:0px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration:none;
    color:rgb(29, 29, 29);
    font-size: 4vw;
    font-family: 'arial';
    position: relative;
    top:2vh
}
#navlogo{
    height: 5vh;
    position: relative;
    top:1.5vh;
    left:1.5vh
}